body {
    background-color: dodgerblue;
}

#intro-page {
    text-align: center;
}

#nav-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#opening-nav {
    text-align: center;
    list-style-position: inside;
}


.page-header {
    text-align: center;
}

.bio-page {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#bio-pho {
    width: 40%;
}   

#content {
    flex:6;
    margin-top: 5%;
    margin-left: 40%;
   }


.navbar {
	margin:50px;
	width:900px;
    text-align: center;
    display:flex;
    justify-content: space-around;
}
.navbar li {
    display:flex;
    justify-content: space-around;
	width:120px;
	float:left;
	margin-left:2px;
	border:2px solid #000;
} 

#p-projects {
    text-align: center;
}


    
