@font-face {
    font-family: 'forest-font';
    src: url(fonts/CfOneTwoTreesRegular-4LGp.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'forest-font2';
    src: url(fonts/Jfwildwood-ldYZ.ttf);
}

@font-face {
    font-family: 'forest-font3';
    src: url(fonts/CfArbreRegular-vaGO.ttf);
}

@font-face {
    font-family: 'bea';
    src: url(fonts/BeautifulPeoplePersonalUse-dE0g.ttf);
}


a:hover {
    color: #228C22;
    text-decoration: underline overline;
    transform: scale(1.1);
}

body {
    background: url("https://www.eea.europa.eu/highlights/eight-facts-about-europe2019s-forest-ecosystems/image_panoramic")no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#intro-page {
    text-align: center;
    padding: 200px 0;
}


#nav-photo {
    display: block;
    margin: auto;
    width: 30vh;
    border-radius: 15px;
    top: 60px;
}

#opening-nav {
    text-align: center;
    list-style: none; 
}

#nav-page {
    height: 80vhvh;
    padding: 60px;
}

.nav-linkO {
    color: white;
    font-family: 'forest-font2';
    font-size: 4vh;
    cursor: pointer;
    text-decoration: none;
    line-height: 70px;
}

.page-header {
    text-align: center;
}

.bio-page {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
}

#bio-pho {
    width: 35vw;
    border-radius: 30px;
}   

#content {
    flex:6;
    color: white;
    font-family: 'bea';
    font-size: 20px;
    background: rgb(16, 41, 16);
    border-radius: 10px;
    padding: 10px;
}


#content-div {
    width: 60vw;
}

.navbar {
    background-color: rgb(34, 8, 8);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.navbar li {
    display: flex;
    justify-content: space-evenly;
	width:23vw;
	float:left;
    color: black;
} 

.nav-link{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 14px;
    font-size: 20px;
    font-family: 'forest-font2'
}


#p-projects {
    text-align: center;
    height: 70vh;
    width: 60vh;
}

.hide {
    display: none;
}

#intro-h1 {
    color: white; 
    font-family: 'forest-font';
    font-size: 15vh;
    cursor: pointer;
}

#intro-h1:hover {
    transform: scale(1.1);
}


#nav-button {
    position: absolute;
    right: 10px;
    top: 20px;
    border: 0px;
    background-color: transparent;
    cursor: pointer;
}

#nav-button:hover {
    transform: scale(1.1);
}

#buttonInner {
    font-size: 27px;
    display: flex; 
    justify-content: center;
    align-content: center;
    color: white;
    font-family: 'forest-font2';
}

.page-header { 
    font-family: 'forest-font';
    color: white;
    font-size: 3vh
}

.headerh2 {
    font-family: 'forest-font2';
    font-size: 3vh;
}

#projects img {
    width: 30vw;
    padding: 15px;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px 0;
}

.tempest:hover {
    transform: scale(1.1);
}

.nav-linkO:hover {
    color: green;
    color: #228C22;
    text-decoration: underline overline;
    transform: scale(1.1);
}

@media (max-width: 768px){
    .intro-page {    
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #nav-button {
        display: none;
    }
    .page-nav li {
        width: 85vw;
        justify-content: center;
    }

    #projects img {
        width: 80vw;
    }
    
    #projects {
        margin-bottom: 200px;
    }

    #nav-page {
        margin-bottom: 150px;
    }
}

@media (min-width: 900px) {

    #projects {
        padding: 0px 0;
    }

    #content {
        width: 585px;
    }

    #bio-pho {
        width: 315px;
    }

    #bio-page { 
        display: flex;
        flex-wrap: wrap; 
        max-width: 900px;
    }

    #projects {
        margin-bottom: 200x;
    }
}
